ion-footer {
  position: relative;
  bottom: 0;
  margin-bottom: 35px;
}
.bigButton {
  margin: 0 10px;
}
.tb-contact-title {
  text-align: center;
  font-family: 'Roboto Bold';
  font-size: 24px;
  color: #FFFFFF;
}
/* CONTACT DETAIL TABLE */
ion-row {
  color: #FFFFFF;
  font-family: 'Roboto Bold';
  text-transform: uppercase;
  padding: 5px 10px;
}
.tb-header {
  background-color: #1F1F20;
  font-size: 18px;
}
.tb-subtitle {
  background-color: #2D2D2D;
  font-size: 16px;
}
.tb-data {
  background-color: #353535;
  font-size: 16px;
}