/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* FONT FAMILY | PRIMARY FONT */
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

body {
  background: #101011;
  box-sizing: border-box !important;
}
button:focus {
  outline: none !important;
}
ion-header, ion-footer {
  margin: 10px 0;
}
ion-footer, ion-content,
ion-toolbar, ion-item {
  --background: transparent !important;
}
.ionHeader {
  --background: transparent !important;
  padding: 15px 25px;
  box-shadow: none;
  text-align: center;
}
.ionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important;
}
.ionItem {
  --border-color: transparent;
  margin: 15px 20px;
  border: 2px solid #6D6D6D;
  border-radius: 10px;
}
.ionLabel {
  color: #d6d4d4!important;
  font-size: 14px!important;
}
.bigButton {
  background: linear-gradient(to right, rgb(45, 45, 45), rgb(31, 31, 31));
  --background: transparent;
  --background-hover: transparent;
  --box-shadow: none;
  padding: 15px 0;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin: 0 20px;
  box-sizing: border-box;
}
.splitButton {
  width: 100%;
}


