ion-label {
  color: #ffffff;
}
ion-grid {
  margin: 0 20px;
}
ion-col {
  padding-top: 0;
  padding-bottom: 0;
}
.ion-col-letter {
  border-right: 2px solid #777777;
}
.ionListButton {
  font-family: "Roboto Regular";
  text-align: left;
  --background: transparent;
  --box-shadow: none !important;
  padding: 0!important;
  margin: 0!important;
  color: #ffffff;
  width: 100%;
}
ion-item {
  --border-color: transparent !important;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #1f1f20;
  border-radius: 10px;
}
ion-item {
  --inner-padding-end: 0px;
  --padding-start:0px
}
ion-button > div {
  text-align: left !important;
  padding: 15px 10px;
  width: 100%;
}
.ionListOptButton {
  --background: transparent;
  --box-shadow: none !important;
  padding: 15px 10px;
}