<!DOCTYPE html>
<ion-header class="ionHeader">
  <ion-toolbar>
    <ion-title>XEROX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="hasContacts(); else emptyState" class="ion-ng-contacts">
    <ng-container *ngFor="let group of groupedContacts | keyvalue">
      <ion-row>
        <ion-col size="1" class="ion-col-letter">
          <ion-label>{{ group.key }}</ion-label>
        </ion-col>
        <ion-col size="11">
          <ion-list lines="none">
            <ion-item *ngFor="let contact of group.value">
              <ion-button class="ionListButton">
                <div>{{ contact.surname }}, {{ contact.name }}</div>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <ng-template #emptyState>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="12" class="ion-text-center">
        <ion-label>No contacts found.</ion-label>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      (click)="navigateToContactPage()"
      class="bigButton"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="14"
        width="17.5"
        viewBox="0 0 640 512"
      >
        <path
          fill="#ffffff"
          d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
        />
      </svg>
    </ion-button>
  </ion-toolbar>
</ion-footer>
